* {
    margin: 0;
    padding: 0;
}

body {}





.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.temp-side-bar {
    width: 30%;
    height: 100%;
}

.side-menu {
    position: fixed;
    background-color: #040b14;
    padding: 20px;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main-menu {
    padding: 50px;
    width: 75%;
}

/* for mobile size aspect */
@media (max-width: 600px) {

    .side-menu,
    .temp-side-bar {
        display: none;
    }

    .main-menu {
        width: 100%;
    }

    .fa-solid {
        display: block !important;
    }
}



.skill-list {
    margin: 0px;
    padding: 0px;
}

.skill-div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.progress-bar-container {
    height: 20px;
    background-color: #000000;
    border-radius: 10px;
}

.fa-envelope,
.fa-phone {
    color: white;
}

.social-media-icons {
    margin-top: 20px;
}

.main-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.hero-email {
    color: white;
    margin-left: 10px;
}

.progress-bar {
    background-color: grey;
    width: var(--progress-width);
    height: 20px;
    border-radius: 10px;
    transition: width 0.5s ease;
}

.skill-name-perc {
    display: flex;
    justify-content: space-between;
}

.profile-icon {
    background-color: white;
    border-radius: 100%;
    padding: 5px;
    margin-right: 10px;
    margin-left: 10px;
}


.hero-name {
    margin-block-end: 0px;
    color: white;
}



.fa-solid {
    position: absolute;
    right: 30px;
    top: 20px;
    display: none;
}

.fa-brands {
    color: black;
    size: 30px;
}



@keyframes bounceIn {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

/* Apply the animation to the heading */
.heading {
    animation: bounceIn 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.profile-pic {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    border: 8px solid #2d2f3f;
}

.Portfolio-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.project-name {
    font-size: 26px;
    margin-bottom: 20px;
}

.project-div {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Change the shadow values as needed */
    border-radius: 8px;
    /* Adjust the border-radius to control the corner roundness */
    /* Adjust the width and height as needed */
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proj-image {
    height: 200px;
    border-radius: 100px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}

.email {
    margin: 10px 0;
}