* {
    margin: 0;
    padding: 0;
}

:root {
    --active_orange: #e8941d
}

body {
    flex: 1;
    color: white;
    background-image: linear-gradient(#000000, rgb(94, 0, 161));
}

h1 {
    font-size: 5rem;
}



nav>ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    padding-top: 2vh;
}

nav>ul>li {
    display: inline;
    margin-left: 3vh;
    margin-right: 3vh;
}

nav>ul>li a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.container {
    /* width: 100%;
    height: 100%; */
    padding: 0vh 10vh;
}

.profile-info {
    padding: 10vh 0vh;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.about-title {
    border-bottom: 2px solid white;
    width: fit-content;
    margin: 2vh 0vh;
}

.about-title:hover {
    font-size: 30px;
    color: var(--active_orange);
    border-bottom: 3px solid var(--active_orange);
    width: 10%;
    transition: 0.3s ease;
}

.profile-card-img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* display: flex;
    align-items: center; */
}

.text {
    font-size: 5rem;
}

.hero-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* margin-left: 10vh; */
}

.active {
    color: orange;
}



.temp-side-bar {
    width: 30%;
    height: 100%;
}

.side-menu {
    position: fixed;
    background-color: #040b14;
    padding: 20px;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main-menu {
    padding: 50px;
    width: 75%;
}

/* for mobile size aspect */
@media (max-width: 600px) {

    .side-menu,
    .temp-side-bar {
        display: none;
    }

    .main-menu {
        width: 100%;
    }

    .fa-solid {
        display: block !important;
    }

    .profile-info {
        display: flex;
        flex-direction: column;
    }

    .profile-card-img {
        order: 2;
    }

    .image-part {
        order: 1;
    }
}



.skill-list {
    margin: 0px;
    padding: 0px;
}

.skill-div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.progress-bar-container {
    height: 20px;
    background-color: #000000;
    border-radius: 10px;
}

.fa-envelope,
.fa-phone {
    color: white;
}

.social-media-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.hero-email {
    color: white;
    margin-left: 10px;
}

.progress-bar {
    background-color: grey;
    width: var(--progress-width);
    height: 20px;
    border-radius: 10px;
    transition: width 0.5s ease;
}

.skill-name-perc {
    display: flex;
    justify-content: space-between;
}

.profile-icon {
    background-color: white;
    border-radius: 100%;
    padding: 2vh;
    margin-right: 10px;
    margin-left: 10px;
}


.hero-name {
    margin-block-end: 0px;
    color: white;
}



.fa-solid {
    position: absolute;
    right: 30px;
    top: 20px;
    display: none;
}

.fa-brands {
    color: black;
    size: 30px;
}



@keyframes bounceIn {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

/* Apply the animation to the heading */
/* .heading {
    animation: bounceIn 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
} */

.profile-pic {
    height: 40vh;
    width: 40vh;
    border-radius: 100%;
    border: 8px solid #2d2f3f;
}

.Portfolio-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.project-name {
    color: black;
    font-size: 26px;
    margin-bottom: 20px;
}

.project-div {
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Change the shadow values as needed */
    border-radius: 8px;
    /* Adjust the border-radius to control the corner roundness */
    /* Adjust the width and height as needed */
    width: 30vh;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proj-image {
    height: 200px;
    border-radius: 100px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}

.email {
    margin: 10px 0;
}

.parallax {
    /* background-image: url('https://d1m75rqqgidzqn.cloudfront.net/wp-data/2021/06/08121338/shutterstock_1714491562.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-blend-mode: darken; */
    padding: 10vh;
}

.blue {
    color: #4480ff;
}

.green {
    color: #4caf50;
}

.yellow {
    color: #01ffff;
}

.red {
    color: #f44336;
}